*.o
*.cout
*.bat
*.pbi
*.map
*.pdb
*.out
stm32g0xx_hal*
/Debug
Code/Firmware_phase_calculation/Debug/
Code/Firmware_raw_capture/Debug/
Code/Firmware_dist_calculation_fast/Debug/
Code/CortexM0/Firmware_dist_calculation_fast/Debug/
Code/CortexM0/Firmware_phase_calculation/EWARM/Output/
Code/CortexM0/Firmware_phase_calculation/EWARM/STM32F030/BrowseInfo/
Code/CortexM0/Firmware_raw_capture/EWARM/Output/
Code/CortexM0/Firmware_dist_calculation_simple/EWARM/Output/
Code/CortexM0/Firmware_dist_calculation_simple/EWARM/settings/
Code/CortexM0/Firmware_dist_calculation_fast/EWARM/Output/
Code/CortexM0/Firmware_dist_calculation_fast/EWARM/settings/
PC_utility/Result_2023-11-14 17-03-39.txt
PC_utility/Result_2023-11-14 17-06-36.txt
Code/CortexM0_STM32G0/Firmware_raw_capture/MDK-ARM/Firmware_raw_capture/
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/NN/Source/FullyConnectedFunctions/arm_fully_connected_q7.c
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/NN/
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/RTOS/
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/RTOS2/
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/DSP/
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/docs/
Code/CortexM0_STM32G0/Firmware_raw_capture/MDK-ARM/DebugConfig/
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Source/Templates/
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Template/
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_armv81mml.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_armv8mbl.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_armv8mml.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_cm1.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_cm23.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_cm3.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_cm33.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_cm35p.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_cm4.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_cm7.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_sc000.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/core_sc300.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Core/Include/mpu_armv8.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g050xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g051xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g061xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g070xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g071xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g081xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g0b0xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g0b1xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Device/ST/STM32G0xx/Include/stm32g0c1xx.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_armv81mml.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_armv8mbl.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_armv8mml.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_cm1.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_cm23.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_cm3.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_cm33.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_cm35p.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_cm4.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_cm7.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_sc000.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/core_sc300.h
Code/CortexM0_STM32G0/Firmware_raw_capture/Drivers/CMSIS/Include/mpu_armv8.h
i2c_signal_capture/b2a/decode/py_decode1.sln
i2c_signal_capture/b2a/decode/py_decode1/py_decode1.pyproj
i2c_signal_capture/b2a/decode/.vs/py_decode1/v15/.suo
